.login-button {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    cursor: pointer;
}

.nav-section {
    display: flex;
    justify-content: center;
}

.menu-list {
    display: flex;
    list-style-type: none;
}

.menu-list li{
    padding: 10px;
}

.menu-area{
    display: flex;
    justify-content: center;
}

.search-bar{
    position: absolute;
    top:155px;
    right:20px;
    border-bottom: 1px solid gray;
}

.search-bar input{
    border: none;
    outline: none;
    margin-left: 5px;
    padding:5px;
}

.img{
    width:330px;
    height:400px;
    transition: transform 0.3s ease;
}

.img:hover{
    transform: scale(1.05);
}
